.create-todo-container button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  /* background-color: rgba(0, 139, 139, 0.5); */
  background-color: #aeaca8;
  background: linear-gradient(#0b8481, #0e9390);
  color: white;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-size: 50px;
  cursor: pointer;
  transition: 400ms;
  z-index: 1;
}
.create-todo-container button:hover {
  background: linear-gradient(#0e9390, #0e9390);
  transform: rotate(90deg);
}

.create-todo-container button:focus {
  outline: none;
}
